<footer class="footer bg-dark py-3 mt-auto">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6">
        <span class="text-light bg-dark">&copy; YelpCamp 2024</span>
      </div>
      <div class="col-md-6 text-md-end mt-3 mt-md-0">
        <a href="https://x.com/Saindane_Harsh" target="_blank" rel="noopener noreferrer" class="text-light me-3">
          <img src="https://cdn.iconscout.com/icon/free/png-256/free-twitter-9420781-7651211.png" alt="Twitter"
            width="30" height="30">
        </a>
        <a href="https://www.linkedin.com/in/harshwardhan-saindane-7704a1258/" target="_blank" rel="noopener noreferrer"
          class="text-light">
          <img src="https://cdn-icons-png.flaticon.com/128/174/174857.png" alt="LinkedIn" width="30" height="30">
        </a>
      </div>
    </div>
  </div>
</footer>